
<div class="container"> 
    <br>
    <h2 class="subTitulo text-center"><i class="material-icons">fingerprint</i> SOBRE </h2> 
      <img src="../assets/images/foto-perfil.jpg" id="fotoPerfil" alt="Foto de perfil de Jose Vicente no dojo no Google" >
    <!-- <p>
      Meu nome é José Vicente de Sousa, trabalho com desenvolvimento web , tanto <em>front-end</em> quanto <em>back-end</em>. Mais recentemente também trabalhei com desenvolvimento <em>mobile</em>.
    </p>
    
    <p>
      Tenho experiência em <strong>Python</strong> com os frameworks <em>Web2py</em>. Também adquiri experiência com <strong>JavaScript</strong> desenvolvendo aplicações <strong>PWA</strong> utilizando 
      Angular, Ioinic e Polymer 
    </p>
    <p>
      Ultimamente tenho desenvolvido projetos voltado a IOT utilizando dispositivos <em>NodeMCU</em> com Home-assistant
    </p> -->
    
    <p>
        Meu nome é José Vicente de Sousa, sou desenvolvedor web e autodedata. 
        Atualmente atuo como freelancer com um case de desenvolvimento <b><i>open-sourcer <small> ( Ubuntu, VisualCode, GIMP )</small> </i></b> 
        utilizando tecnologias como <b><i>Angular,Ionic,Firebase no front-end</i></b> e com <b><i>Python,Web2py</i></b>  no <b><i>back-
        end <small>( Full Stack )</small></i></b>.
    </p>
    <p>
        Ultimamente tenho desenvolvido projetos voltado a IOT utilizando
        dispositivos NodeMCU com Home-assistant escrevendo scripts na linguagem <b><i>yaml/java-Arduino</i></b>
    </p>
    <p>
        Eu almejo ingressar em uma graduação em ciência da
        computação ainda neste ano de 2019. por isso estou buscando
        colocação no mercado de desenvolvimento especificamente no stack de projetos
        com  <b>Angular/Firebase</b> ou <b><i>Python/web2py</i> </b>.
    </p>
  
    <p>
        Outro assunto que almejo estudar é Inteligência Artificial com Ênfase em Ciência dos Dados. endoçando o curso de Ciências da computação.
    </p>
    <p>
        Estou procurando sempre esta atualizado no campo do desenvolvimento web, com atenção nas tecnologías
        <b><i>PWA, SPA</i>!</b>     
    </p>
      <b>Fontes de atualização de conteúdo.</b>
      <ul>
        <li>
          <a href="https://tableless.com.br/">http://tableless.com.br</a>
          <small> Fórum de tecnología.</small>
        </li>
        <li>
          <a href="https://braziljs.org/">https://braziljs.org/</a>
          <small>Fórum JavaScript</small>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCwXGkzp-kXcvo6XmSWfN6Gg/featured">http://castalio podcast</a>
          <small>Podcast de tecnología no Youtube</small>
        </li>
      </ul>
    
  </div>          
  