button {
    margin-right: 8px;
  }

:host {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.row{
    display: flex;
    gap: 10px;
}

mat-datepicker-toggle {
    margin-left: -35px;
}



.content{
    padding-top: 10px;
}


.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  
.action{
    width: 100%;
}

.action button{
    flex: 1;
}