<div class="container">
    <br>
    <!-- <h4 class="center"> PROJETOS</h4> -->
    <h2 class="subTitulo text-center"><i class="material-icons ">screen_share</i> PROJETOS</h2>
  
    <ul>
      
      <li>
        <a href="https://sis-nallubaby.web.app/">Nallubaby</a>
        <small>Sistema de Gestão de empresa.</small>
        <ul>
          <li>
            <small>Angular.v8 Farestore-Firebase</small>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://bar-style.web.app/">BarStyle</a>
        <small>App de Controle de openBar.</small>
        <ul>
          <li>
            <small>Ionic.v4 Farestore-Firebase</small>
          </li>
        </ul>
      </li>
      
      <li>
        <a href="https://josevsousa.pythonanywhere.com/artesanalbaby/">ArtesanalBaby</a>
        <small>Sistema de Gestão de empresa.</small>
        <ul>
          <li>
            <small>FULLSTACK COM PYTHON, Web2py</small>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://www.bitsol.com.br">BitSol</a>
        <small>: Consultoria em Desenvolvimento</small>
        <ul>
          <li>
            <small>
              Html5, Css, JavaScript, Jquery, Bootstrap
            </small>
          </li>
          <!-- <li> 
                <img src="assets/images/html_mini.png" alt=""><small>HTML5</small>
                <img src="assets/images/css_mini.png" alt=""><small>CSS</small> 
                <img src="assets/images/js_mini.png" alt=""><small> JavaScript</small>
                <img src="assets/images/jquery_mini.png" alt=""><small> jQuery</small>
                <img src="assets/images/bootstrap_mini.png" alt=""><small> BootStrap</small>            
              </li> -->
        </ul>
      </li>
      <li>
        <a href="http://www.web2py.com"> Web2py </a>
        <small>Framework de desenvolvimento em Python</small>
        <ul>
          <li>
            <small>Html, Css, Js, Bootstrap</small>
            <!-- <img src="assets/images/html_mini.png" alt=""><small>HTML5</small>
                <img src="assets/images/css_mini.png" alt=""><small>CSS</small> 
                <img src="assets/images/js_mini.png" alt=""><small> JavaScript</small>
                <img src="assets/images/bootstrap_mini.png" alt=""><small> BootStrap</small>  -->
          </li>
          <li>
            <small>Python, Web2py</small>
          </li>
          <!-- <li class="pythonIcon">  
                <img class="p" src="assets/images/python_mini.png" alt=""><small> Python</small> 
                <img class="w" src="assets/images/w2p.png" alt=""><small> Web2py</small>  
              </li> -->
        </ul>
      </li>
      
      <li>
        <a class="aLinkGamp" (click)="buscarCep()"> Busca por Cep </a>
        <small>Consumindo API Rast</small>
        <ul>
          <!-- <li> 
              <img src="assets/images/angular_mini.png" alt=""><small>Angular</small>
              <img src="assets/images/bootstrap_mini.png" alt=""><small> BootStrap</small> 
              <img src="assets/images/firebase_mini.png" alt=""><small> Firebase/Farestore</small>
            </li> -->
          <li>
            <small>Angular, Bootstrap/Material.io, Firebase/Firestore</small>
          </li>
        </ul>
      </li>
      <li>
        <a class="aLinkGamp" (click)=buscarCepForm()> Buscar por Cep Form </a>
        <small>Cosumindo API Rast</small>
        <ul>
          <li>
            <small>Utilizando um Form do Angular para validação do input</small>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://task.curso.plinio.surge.sh/">Lista de tarefas</a>
        <small> Lista de tarefas async</small>
        <ul>
          <li>
            <small>Angular, Material Designer, Firebase/Firestore</small>
          </li>
          <!-- <li> 
              <img src="assets/images/angular_mini.png" alt=""><small>Angular</small>
              <img src="assets/images/bootstrap_mini.png" alt=""><small> BootStrap</small> 
              <img src="assets/images/firebase_mini.png" alt=""><small> Firebase/Farestore</small>
            </li> -->
        </ul>
      </li>
      <!-- <li>
        <a href="https://jsfiddle.net/1grcwhcq/5/">Gráfico Colaborador</a>
        <small> Gráfico de produção.</small>
        <ul>
          <li>
            <small>HTML, JS, Google JSAPI</small>
          </li>
        </ul>
      </li> -->
    </ul>
  </div>