/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.center{text-align: center}
.subTitulo{
    /* background: #efeeee; */
    padding: 5px;
    color: #5d5d5d;
}

.subTitulo2 {
    background: #dee2e6;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
}

h4.subTitulo i {
    padding: 5px;
    color: #cacaca;
}

li.pythonIcon .p {
    width: 19px;
}
li.pythonIcon .w {
    width: 62px;
}

.aLinkGamp {
    cursor: pointer;
    color: #377bff !important;
}


.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.25);

}

.grupoEnd{
    border: none !important;
    box-shadow: none !important;
}

.form-group.cepInput input {
    width: 262px;
    margin: 0 auto;
}
.form-group.cepInput div {
    width: 262px;
    margin: 6px auto;
}

/* ul {
    text-align: left;
    list-style: none;
    padding: 8px 0px 0px 0px;
    border-top: 1px solid #eaeaea;
    /* border-bottom: 1px solid #eaeaea; 
}
  */