<div class="jumbotron center">
    <blockquote class="blockquote text-center">
      <h1 class="mb-0 display-5">Desenvolvedor Full Stack</h1>
      <footer class="blockquote-footer">
        <b>Front-end</b> (
        <i>Angular, Ionic</i> )
        <b>Back-end</b> (
        <i>firebase</i> )
        <b>Full-stack</b> (
        <i>web2py</i> )</footer>
    </blockquote>
    <a href="https://github.com/josevsousa">
      <img src="../assets/images/if_Github_social_media_logo_1964417.png" alt="">
    </a>
    <a href="https://www.linkedin.com/in/josevicentedesousa/">
      <img src="../assets/images/if_Linkedin_social_media_logo_1964405.png" alt="">
    </a>
  </div>
  
  
  <ul id="social" class="center">
    <!-- <li><img src="../assets/images/html.png" alt=""></li> -->
    <!-- <li><img src="../assets/images/css.png" alt=""></li> -->
    <!-- <li><img src="../assets/images/js.png" alt=""></li> -->
    <li>
      <img src="../assets/images/firebase.png" alt="">
    </li>
    <li>
      <img src="../assets/images/angular.png" alt="">
    </li>
    <li>
      <img src="../assets/images/ionic.png" alt="">
    </li>
    <li>
      <img class="python" src="../assets/images/python.png" alt="">
    </li>
  </ul>
  
  <h4 class="center">PROFISSIONAL</h4>
  <br>
  <div class="profissao">
    <div class="container">
      <div class="row">
  
          <div class="col-sm">
              <h5 class="text-center">Experiência</h5>
              <ol>
                <li>
                  <b>UX Designer & Front-end developer</b>
                  <ul>
                    <li>Serviço GENTE Gestão de Pessoas</li>
                    <li class="skill">
                        <small>Html, Css, JavaScript</small>
                    </li>
                    <li class="skill">
                      <small>Python, Web2py</small>
                    </li>
                    <!-- <li>
                      <img src="assets/images/html_mini.png" alt="">
                      <img src="assets/images/css_mini.png" alt="">
                      <img src="assets/images/js_mini.png" alt="">
                      <img src="assets/images/jquery_mini.png" alt="">
                      <img src="assets/images/bootstrap_mini.png" alt="">
                    </li>
                    <li class="pythonIcon">  
                      <img class="p" src="assets/images/python_mini.png" alt=""> 
                      <img class="w" src="assets/images/w2p.png" alt="">  
                    </li> -->
                    <li><i>02/2012 - 10/2013</i></li>                  
                  </ul>
                </li>
                <li>
                  <b>Analista de Sistamas GED</b>
                  <ul>
                    <li>SMA Serviços e Empreendimentos</li>
                    <li class="skill">
                      <small>Html, Css, JavaScript, Jquery, Bootstrap</small>
                    </li>
                    <!-- <li>
                        <img src="assets/images/html_mini.png" alt="">
                        <img src="assets/images/css_mini.png" alt="">
                        <img src="assets/images/js_mini.png" alt="">
                        <img src="assets/images/jquery_mini.png" alt="">
                        <img src="assets/images/bootstrap_mini.png" alt="">
                    </li>    
                    <li>
                        <img src="assets/images/js_mini.png" alt=""> <b style="color:blue">KofaxCapture9</b>
                    </li>    -->
                    <li>
                      <i>11/2009 - 02/2012</i>
                    </li>
                  </ul>
                </li>
                <li>
                  <b> Analista de Sistemas: </b>
                  <ul>
                    <li>Iron Mountain</li>
                    <li class="skill">
                      <small>KofaxCapture9</small>
                        <!-- <img src="assets/images/js_mini.png" alt=""> <b style="color:blue">KofaxCapture9</b> -->
                    </li>   
                    <li>
                      <i>08/2007 - 08/2009</i>
                    </li>
                  </ul>
                </li>
                <li>
                  <b> Operador de DataCenter: </b>
                  <ul>
                    <li>SSG Ltda</li>
                    <li class="skill">
                      <small>Configuração e manutenção de Servidores</small>
                    </li>
                    <li>
                      <i>02/2004 - 11/2005</i>
                    </li>
                  </ul>
                </li>
              </ol>
            </div>
        <div class="col-sm">
          <h5 class="text-center">Tecnologias</h5>
          <ol>
            <li>
              <b> Back-end: </b>
              <ul>
                <li>Python</li>
                <li>Web2py</li>
              </ul>
            </li>
  
            <li>
              <b> Front-end: </b>
              <ul>
                <li>HTML/CSS/JS</li>
                <li>Angular</li>
                <li>Ionic</li>
                <li>Polymer</li>
              </ul>
            </li>
  
            <li>
              <b> Setup de desenvolvimento: </b>
              <ul>
                <li>Ubuntu</li>
                <li>VsCode</li>
                <li>Chorme</li>
                <li>Gimp</li>
              </ul>
            </li>
  
            <li>
              <b> Versionamento Code: </b>
              <ul>
                <li>GitHub</li>
              </ul>
            </li>
          </ol>
        </div>
        <div class="col-sm">
          <h5 class="text-center">Estudante</h5>
          <ol>
            <li>
              <b> Faculdade: </b>
              <ul>
                <li>Sistema da informação 2/4 anos UMC</li>
                <li>Gestão de sistemas de infomação 1/2 ano UNIP</li>
              </ul>
            </li>
            <li>
              <b> Cursos: </b>
              <ul>
                <li>HTML/CSS/JavaScript: w3schools</li>
                <li>Angular: Udemy</li>
                <li>Angular: Loiane</li>
                <li>Ionic: Anso Dev</li>
                <li>JavaScript: Rodrigo Branas</li>
                <li>Python: Bruno Rocha</li>
                <li>Web2py: Bruno Rocha</li>
                <li>Flask: Bruno Rocha</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- <ul class="center">
  
      <li>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <i class="material-icons">school</i>
              <h5 class="card-title">Estudante</h5>
              <ul>
                <li>Sistema da informação 2 anos UMC</li>
                <li>Gestão de sistemas de infomação 1 ano UNIP</li>
              </ul>
            </div>
          </div>
      </li>
      <li>
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <i class="material-icons">devices_other</i>
              <h5 class="card-title">Tecnologia</h5>
              <p class="card-text">Back-end Python com web2py, front-end JavaScript com Angular, Ionic, Polymer.</p>
            </div>
          </div>
      </li>
      <li>
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
             <i class="material-icons">wb_incandescent</i>
              <h5 class="card-title">Experiência</h5>
              <p class="card-text">Mais de 10 anos de experiência em TI.</p>
            </div>
          </div>
      </li>
    </ul> -->
  </div>